.disappear
    animation: disappear .4s linear
@keyframes disappear
    0%
        opacity: 1
    100%
        opacity: 0
.appear
    animation: appear .4s linear
@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 1
