doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Schulte table
        link(rel="icon", href="../imgs/brain.png")
        link(rel="stylesheet", href="../css/style.min.css")
    body 
        .start-screen
            h1.start-screen-name Schulte table
            img(src="../imgs/play_button.png", alt="play button", title='play button').start-screen-image
            .start-screen-rules
                span.start-screen-rules-header The rules
                span.start-screen-rules-rules You need to find the correct sequence of numbers as quickly as possible
                span.start-screen-rules-wishes Good luck :)
        .settings-screen 
            .settings-screen-header Settings
            .settings-screen-names-and-inputs
                .settings-screen-names
                    span Freeze time 
                    span Theme 
                    span Game field size 
                    span Hints mode
                .settings-screen-inputs
                    .settings-screen-inputs-range
                        .range-seconds 3s
                        input(type="range" min="0" max="6" value="3")#freeze-time-input 
                    .settings-screen-inputs-theme 
                        label
                            | Bright
                            input(type="radio" name="theme" value="bright" checked)
                        label 
                            | Dark
                            input(type="radio" name="theme" value="dark")
                    select#field-size-input 
                        option(value="2") 2x2
                        option(value="3" selected) 3x3
                        option(value="4") 4x4
                        option(value="5") 5x5
                        option(value="6") 6x6
                        option(value="7") 7x7
                        option(value="8") 8x8
                        option(value="9") 9x9
                        option(value="10") 10x10
                    input(type="checkbox")#checkbox-input
            button#close-btn
                | Close
        .game-field
            .best-score 
                .best-score-time 
                    | Best time: 
                    span.best-score-time-value 0
                .best-score-find 
                    | Find 
                    span.best-score-find-num 1
            .game-field-grid-game
                .black-screen
                    | 3s
                .game-field-grid
            .buttons 
                button#restart-button 
                    img(src="../imgs/reset_white.png", alt="reset button", title='reset button')
                    | Restart
                button#settings-button 
                    img(src="../imgs/settings.png", alt="settings button", title='settings button')
                    | Settings
        script(src='../js/script.js')